
*.cbp
cmake-build-debug/698SP_CL_autogen/
cmake-build-debug/BasicExcel/
cmake-build-debug/CMakeFiles/
cmake-build-debug/XMLFile/
.idea/
*.user
*.10-pre1
*.cmake
*.depends
cmake-build-debug/Makefile
cmake-build-debug/CMakeCache.txt
